/* SIZING/SPACING */
.Navigation {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: black;
  z-index: 500;
}

.Navigation-list {
  display: flex;
  right: 10%;
  position: absolute;
  justify-content: center;
  height: 100%;
  text-align: right;
  flex-direction: column;
}

.Navigation-logo {
  right: 10%;
  display: flex;
  position: absolute;
  top: 5%;
  font-size: 2rem;
}

.Navigation-logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.Navigation-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.Navigation-list ul {
  list-style: none;
}

.Navigat-list li {
  padding: 3rem;
}

.Navigation-list a:hover,
.Navigation-list a:active {
  color: tomato;
}

@media (max-width: 768px) {


  .Navigation-list {
    display: none;
    position: fixed;
    height: 100px;
  }
  .Navigation {
    position: fixed;
    height: 60px;
    width: 100%;
    justify-content: row;
    align-items: left;
  }

  .Navigation-logo {
    position: fixed;
    height: 60px;
    top: 20px;
    left: 20px;
  }
  .Navigation-logo a {
    font-size: 1.5rem;
    height: 100%;
    margin-left: 3px;
    margin-top: -2px;
  }
}
